@model Pressford.Web.ViewModels.ArticleDetailPageViewModel

@{
    ViewBag.Title = "ArticleDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-9">
        <div class="article">
            <h2>@Model.Article.Title</h2>
            <div class="article-content">
                <p>@Model.Article.Content</p>
            </div>

            <div class="article-details">
                <span class="article-likes" id="likes">
                    @(Model.Article.Likes > 0 ? Model.Article.Likes : 0)

                    <span class="glyphicon glyphicon-thumbs-up">
                        @Ajax.ActionLink("Like", "AddLike",
                                                                        new { id = Model.Article.Id },

                                                                        new AjaxOptions
                                                                        {
                                                                            UpdateTargetId = "likes",
                                                                            InsertionMode = InsertionMode.Replace,
                                                                            HttpMethod = "GET"
                                                                        })
                    </span>
                </span>
                <span class="article-date">Published on <b>@Model.Article.PublishedDate.ToString("dd MMM yyyy")</b></span>
                <span class="article-author">by @Model.Article.Author</span>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}