@model Pressford.Web.Models.Article
@using Pressford.Web.Models
@{
    using (Html.BeginForm("UpdateArticle", "Articles"))
    {
       
        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })

            @Html.LabelFor(m => m.Content)
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
            @Html.HiddenFor(m => m.Id)
        </div>
        <div class="form-group text-right">
            <button type="submit" class="btn btn-primary ">Update</button>
            @Html.ActionLink("Delete", "DeleteArticle", new { id = Model.Id }, new { @class = "btn btn-danger" })
        </div>

    }
}

