@model Pressford.Web.ViewModels.ArticlePageViewModel
@{
    ViewBag.Title = "Index";
    int maxLength = 150;
    char[] stopChars = { '.', '!' };
}




<h2>@Model.Title</h2>
<div class="row">
    <div class="col-md-12">
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["success"]
            </div>

        }
        else if (TempData["error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["error"]
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 article-list">
        @{
            if (Model.Articles.Any())
            {

                foreach (var article in Model.Articles)
                {
                    <div class="col-md-4">
                        <div class="article-card">

                            <div class="article-card-header" style="background-image:url('/Images/Team_CG07USA_Reunion.jpg'); background-size:cover">
                                @if (article.Likes > 0)
                                {
                                    <div class="like-button-container">


                                        <span class="like-button glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><span>@article.Likes</span>
                                    </div>
                                }
                                <span class="glyphicon glyphicon-pencil edit-article">@Html.ActionLink("Edit", "EditArticle", new { articleId = article.Id })</span>
                            </div>

                            <div class="article-card-content">

                                <h3 class="article-title">@Html.ActionLink(article.Title, "ArticleDetail", new { articleId = article.Id })</h3>
                                <time datetime="@(article.PublishedDate != null ? article.PublishedDate.ToString("dd-MM-yyyy") : "")">
                                    @(article.PublishedDate != null ? article.PublishedDate.ToString("dd MMM yyyy") : "")
                                </time>
                                @if (!string.IsNullOrEmpty(article.Content))
                                {
                                    var content = article.Content;

                                    if (content.Length > maxLength)
                                    {

                                        content = content.Substring(0, content.IndexOfAny(stopChars)) + "...";
                                    }
                                    <p>@content</p>
                                }
                            </div>

                            <span class="article-author">@article.Author</span>



                        </div>
                    </div>
                }


            }
            else
            {
                <h3>There are no articles available at the moment.</h3>
            }
        }


    </div>
</div>
